.user-teams_all {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    overflow: auto;
}

.user-teams_all__control {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: rgb(218, 218, 218);
}

.user-teams_all__control___title {
    width: 60%;
    text-align: left;
    font-weight: bold;
    margin: 0 0 0 24px;
}

.user-teams_all__control___button {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.user-teams_all__control___button button {
    height: 32px;
    margin: 0 32px 0 -28px;
    border-style: groove;
    border-radius: 4px;
    cursor: pointer;
}

.user-teams_all__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    height: 500px
}

.user-teams_all__list div {
    height: 260px;
    width: 260px;
    background-color: rgb(197, 194, 194);
    margin: 20px 20px 20px 28px;
    cursor: pointer;
}

.user-teams_all__list div:hover {
    background-color: rgb(219, 219, 219);
}

.user-teams_create {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    flex-grow: 0;
}

.user-teams_create__backtoteamall {
    margin: 40px 0 0 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 2px tomato;
    transition: box-shadow 0.3s;
}

.user-teams_create__backtoteamall:hover {
    box-shadow: 0 3px rgb(0, 255, 64);
    color: red;
}

.user-teams_create__team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user-teams_create__team___form {
    background-color: rgb(255, 255, 255);
    width: 52%;
    margin: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.user-teams_create__team___form div:first-child {
    margin: 0 0 0 20px;
}

.user-teams_create__team___form div:last-child {
    margin: 48px 0 0 160px;
}

.user-teams_create__team___form div:last-child button {
    border-style: groove;
    border-radius: 4px;
    height: 32px;
    cursor: pointer;
}

.user-teams_create__team___form div:last-child button:focus {
    background-color: rgb(196, 196, 196);
}

.user-teams_create__team___form p {
    font-weight: bold;
    text-align: left;
}

.user-teams_create__team___form input {
    border: none;
    vertical-align: left;
    border-bottom: groove;
    width: 180%;
    border-color: rgb(226, 226, 226);
}

.user-teams_create__team___form input:focus {
    outline: none;
    border-color: green
}

.user-teams_create__team___form select {
    width: 80%;
    margin: 0 0 0 4px;
    border: none;
    border-bottom: groove;
}

.user-teams_create__team___form option {
    border-color: rgb(226, 226, 226);
}

.user-teams_create__team___form select:focus {
    outline: none;
    border-color: green
}

.user-teams_create__team___logo div:first-child {
    border: groove;
}

.user-teams_create__team___logo div:first-child img {
    height: 200px;
    width: 200px;
}

.user-teams_create__team___logo div:last-child p {
    font-weight: bold;
}

.user-teams_addcode__backtoteamall {
    margin: 40px 0 0 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 86px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 2px tomato;
    transition: box-shadow 0.3s;
}

.user-teams_addcode__backtoteamall:hover {
    box-shadow: 0 3px rgb(0, 255, 64);
    color: red;
}

.user-teams_addcode__team___form {
    width: 40%;
    margin: 20px 0 0 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.user-teams_addcode__team___form p {
    font-weight: bold;
    text-align: left;
}

.user-teams_addcode__team___form input {
    border: none;
    border-bottom: groove;
    width: 320px;
    outline: none;
}

.user-teams_addcode__team___form input:focus {
    border-bottom-color: blue;
}

.user-teams_addcode__team___form button {
    margin: 72px 0 0 120px;
    cursor: pointer;
    height: 36px;
    font-weight: bold;
    border-radius: 4px;
    width: 100px;
}

.user-teams_addcode__team___form button:hover {
    color: red;
}

.user-teams_addcode__team___form button:focus {
    color: green;
}

